body, br{background-color:#003388;background-size:cover;}
.b {width:30%;margin:5px;font-size:3em;background-color:#666600; color:#ffffff}
.bb {width 80%;margin:5px;font-size:4em;background-color:#605694; color:#ffffff}

h1{color:#ffffff}
.text{width:40%;margin:5px;font-size:3em;}
.ech{color:#ffffff;font-size:4em;}

.page{border:1px solid #000000; background-color:#003388; width:98%;color:#ffffff;
height: 95%;
padding:10px;
margin:10px;
width:98%;
float:left;}
